@use "./variables";

.err {
	width: 100%;
	min-height: 100vh;
	background-color: variables.$light-color;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	&_title {
		font-size: 80px;
		font-weight: 700;
		color: variables.$primary-dark-color;

		@include variables.for-medium-screen {
			font-size: 200px;
		}
	}

	&_desc {
		font-size: 16px;
		color: variables.$primary-dark-color;

		@include variables.for-medium-screen {
			font-size: 30px;
		}
	}
}
