@use "./variables";

.about {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px;
	width: 100%;
	min-height: 100vh;

	&_title {
		color: variables.$primary-light-color;
		font-size: 40px;
	}

	&_desc {
		color: variables.$dark-light-color;
		font-size: 18px;
		width: 90%;
		text-align: justify;
	}
}
