* {
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	padding: 0px;
	margin: 0px;
}

body {
	background-color: #fff;
}

.transition {
	width: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #7171f2;
}
