@use "./variables";

.home {
	display: flex;
	flex-direction: column;
	width: 100%;
	background-color: variables.$light-color;
	align-items: center;

	.loadmore {
		margin-bottom: 16px;
		background-color: #fff;
		border: 1px solid variables.$primary-light-color;
		padding: 12px 16px;
		color: variables.$primary-light-color;
		border-radius: 8px;
		display: flex;
		align-items: center;
		gap: 4px;
		cursor: pointer;
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		-ms-border-radius: 8px;
		-o-border-radius: 8px;
	}
}

.user_container {
	display: grid;
	width: 100%;
	grid-template-columns: 1fr;
	gap: 16px;
	background-color: variables.$light-color;
	padding: 16px 16px;

	@include variables.for-medium-screen {
		grid-template-columns: 1fr 1fr;
	}
}
