@use "./variables";

.navbar {
	background-color: variables.$primary-dark-color;
	color: variables.$light-color;
	padding: 18px 14px;
	position: sticky;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 1000;

	.logo {
		color: variables.$light-color;
		text-decoration: none;
		font-size: 20px;
		cursor: pointer;
	}

	&_nav {
		display: flex;
		align-items: center;
		gap: 4px;
	}

	.active {
		color: variables.$light-color;
		text-decoration: none;
		cursor: pointer;
		padding: 12px 14px;
		background-color: variables.$light-opacity-color;
		border-radius: 6px;
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		-ms-border-radius: 6px;
		-o-border-radius: 6px;
	}

	.inactive {
		color: variables.$light-color;
		text-decoration: none;
		cursor: pointer;
		padding: 12px 14px;

		&:hover {
			background-color: variables.$light-opacity-color;
			border-radius: 6px;
			-webkit-border-radius: 6px;
			-moz-border-radius: 6px;
			-ms-border-radius: 6px;
			-o-border-radius: 6px;
		}
	}
}
