@use "./variables";

.user_container {
	width: 100%;
	min-height: 100vh;
	background-color: variables.$light-color;
	padding: 16px;
	display: flex;
	gap: 8px;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	.backBtn {
		width: 100%;
		display: flex;

		&_btn {
			background-color: variables.$primary-light-color;
			color: variables.$light-color;
			display: flex;
			align-items: center;
			justify-content: unset;
			padding: 16px;
			font-size: 20px;
			border-radius: 50%;
			cursor: pointer;
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			-ms-border-radius: 50%;
			-o-border-radius: 50%;
		}

		@include variables.for-medium-screen {
			width: 90%;
		}
		@include variables.for-large-screen {
			width: 70%;
		}
		@include variables.for-medium-screen {
			width: 70%;
		}
	}

	.user {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 4px;
		align-items: center;
		background-color: #fff;
		border: 1px solid variables.$primary-light-sec-color;
		padding: 24px;
		border-radius: 12px;
		-webkit-border-radius: 12px;
		-moz-border-radius: 12px;
		-ms-border-radius: 12px;
		-o-border-radius: 12px;

		@include variables.for-medium-screen {
			width: 90%;
		}
		@include variables.for-large-screen {
			width: 70%;
		}
		@include variables.for-medium-screen {
			width: 70%;
		}

		&_name {
			color: variables.$primary-light-color;
			text-align: center;
			text-transform: uppercase;
		}

		&_id {
			color: variables.$primary-light-color;
			font-size: 14px;
		}

		.userImg {
			border-radius: 8px;
			overflow: hidden;
			border: 8px solid variables.$primary-light-color;
			-webkit-border-radius: 8px;
			-moz-border-radius: 8px;
			-ms-border-radius: 8px;
			-o-border-radius: 8px;
		}

		&_details {
			display: grid;
			grid-template-columns: 1fr;
			width: 100%;
			gap: 12px;
			margin-top: 12px;

			@include variables.for-medium-screen {
				grid-template-columns: 1fr 1fr;
			}

			& > div {
				background-color: variables.$primary-light-color;
				padding: 10px 12px;
				color: variables.$light-color;
				font-size: 14px;
				border-radius: 8px;
			}

			.email {
				display: flex;
				align-items: center;
				gap: 14px;
				&_icon {
					display: flex;
					align-items: center;
					justify-content: center;
					background-color: variables.$light-color;
					color: variables.$primary-light-color;
					padding: 6px;
					font-size: 14px;
					border-radius: 50%;
				}
			}
			.dob {
				display: flex;
				align-items: center;
				gap: 14px;
				&_icon {
					display: flex;
					align-items: center;
					justify-content: center;
					background-color: variables.$light-color;
					color: variables.$primary-light-color;
					padding: 6px;
					font-size: 14px;
					border-radius: 50%;
				}
			}
			.phone {
				display: flex;
				align-items: center;
				gap: 14px;
				&_icon {
					display: flex;
					align-items: center;
					justify-content: center;
					background-color: variables.$light-color;
					color: variables.$primary-light-color;
					padding: 6px;
					font-size: 14px;
					border-radius: 50%;
				}
			}
			.age {
				display: flex;
				align-items: center;
				gap: 14px;
				&_icon {
					display: flex;
					align-items: center;
					justify-content: center;
					background-color: variables.$light-color;
					color: variables.$primary-light-color;
					padding: 6px;
					font-size: 14px;
					border-radius: 50%;
				}
			}
			.gender {
				display: flex;
				align-items: center;
				gap: 14px;
				&_icon {
					display: flex;
					align-items: center;
					justify-content: center;
					background-color: variables.$light-color;
					color: variables.$primary-light-color;
					padding: 6px;
					font-size: 14px;
					border-radius: 50%;
				}
			}
		}
	}
}

.address {
	background-color: variables.$primary-light-color;
	width: 100%;
	color: variables.$light-color;
	border-radius: 8px;
	padding: 10px 12px;
	margin-top: 10px;
	font-size: 14px;
	display: flex;
	align-items: flex-start;
	gap: 14px;

	&_icon {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: variables.$light-color;
		color: variables.$primary-light-color;
		padding: 6px;
		font-size: 14px;
		border-radius: 50%;
	}
}
