@use "./variables";

.card {
	background: #fff;
	width: 100%;
	font-size: 18px;
	padding: 18px;
	border: 1px solid variables.$primary-light-sec-color;
	cursor: pointer;
	border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-ms-border-radius: 12px;
	-o-border-radius: 12px;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;

	@include variables.for-medium-screen {
		align-items: flex-start;
		flex-direction: row;
	}
	@include variables.for-large-screen {
		padding: 24px;
	}
}

.card_img {
	border-radius: 12px;
	overflow: hidden;
	width: "150px";
	height: "150px";
	position: "relative";
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-ms-border-radius: 12px;
	-o-border-radius: 12px;
}

.card_details {
	display: flex;
	width: 100%;
	flex-direction: column;
	gap: 8px;

	@include variables.for-medium-screen {
		width: auto;
	}

	&__name {
		font-size: 18px;
		font-weight: 500;
		color: variables.$primary-light-color;
	}

	&__email {
		display: flex;
		align-items: center;
		font-size: 14px;
		color: variables.$primary-light-color;
		gap: 4px;

		&_icon {
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: variables.$primary-light-color;
			color: variables.$light-color;
			padding: 6px;
			font-size: 14px;
			border-radius: 50%;
		}
	}
	&__phone {
		display: flex;
		align-items: center;
		font-size: 14px;
		color: variables.$primary-light-color;
		gap: 4px;

		&_icon {
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: variables.$primary-light-color;
			color: variables.$light-color;
			padding: 6px;
			font-size: 14px;
			border-radius: 50%;
		}
	}
}
